{% extends "cachi/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 main">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">                
                    <h3 class="inline">Busca Pieza</h3>
                    <div class="inline pull-right">
                        <a href="{% url 'nueva_pieza_conjunto' %}">
                            <button type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus"></span> Nueva Pieza
                            </button>
                        </a>
                    </div>
                    <div class="clear-fix"></div>
                </div>
                <div class="panel-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td width="35%">
                                        <form class="form-inline" role="form" method="post">
                                        {% csrf_token %}
                                            <div class="form-group col-lg-8">
                                                {{ form.nro_inventario }}
                                            </div>                                        
                                            <div class="form-group col-lg-8">
                                                {{ form.naturaleza }}
                                            </div>                                        
                                            <div class="form-group col-lg-8">
                                                {{ form.sitio_arqueologico }}
                                            </div>                                        
                                            <div class="form-group col-lg-8">
                                                {{ form.ubicacion }}
                                            </div>                                        
                                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Buscar</button>
                                        </form>
                                    </td>
                                    <td width="65%">
                                        {% if mostrar_ayuda_busqueda %}
                                            <p>
                                            Para buscar piezas, ingrese los criterios de búsqueda en el formulario de la izquierda.
                                            </p>
                                        {% else %}
	                                        <table class="table table-bordered table-hover">
	                                            <thead>
	                                              <tr>                                
	                                                <th>Nro Inventario</th>
                                                    <th>Naturaleza</th>
                                                    <th>Nombre Descriptivo</th>
                                                    <th>Procedencia</th>
	                                              </tr>
	                                            </thead>
	                                            <tbody>
	                                            {% for pieza in piezas %}
	                                                  <tr>
	                                                    <td>
	                                                       {% for frag in pieza.obtiene_fragmentos %}
	                                                           {% if frag.numero_inventario %}
	                                                               <a href="javascript:void(0);">{{ frag.numero_inventario }}</a>
	                                                           {% endif %}
	                                                       {% endfor %}
	                                                    </td>
                                                        <td>{{ pieza.naturaleza }}</td>
                                                        <td><a href="{% url 'edita_pieza_conjunto' pieza.id %}">{{ pieza.nombre_descriptivo }}</a></td>
                                                        <td>{{ pieza.obtiene_procedencia }}</td>
	                                                  </tr>
	                                              {% empty %}
	                                                  <tr>
	                                                    <td colspan="4"><em>No se encontraron piezas con el criterio seleccionado.</em></td>
	                                                  </tr>
                                                  {% endfor %}
	                                            </tbody>
	                                        </table>
                                        {% endif %}
                                    </td>
                                </tr>                                
                            </tbody>
                        </table>
                       
                </div>
            </div>
        </div>
    </div>
{% endblock %}


