{% extends "cachi/base.html" %}

{% block content %}

<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">        
        <ul class="nav nav-sidebar">            
            <li><a href="#">Pieza</a></li>
            <li><a href="#">Ficha Técnica</a></li>
            <li><a href="#">Procedencia</a></li>
        </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h3 class="no-margin">Pieza</h3>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                
                
                <div>
                    <button type="button" class="btn btn-default">+ Nueva Pieza </button>
                    <button type="button" class="btn btn-default btn-sm">+ Adjunto </button>
                </div>
            </div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        {{ form_pieza_conjunto.numero_inventario }}
                    </div>
                    <div class="form-group">
                        {{ form_pieza_conjunto.nombre_descriptivo }}
                    </div>
                    <div class="form-group">
                        {{ form_pieza_conjunto.fecha_hallazgo }}
                    </div>
                    <div class="form-group">
                        {{ form_pieza_conjunto.naturaleza }}
                    </div>
                    <div class="form-group">
                        {{ form_pieza_conjunto.forma }}
                    </div>
                    <div class="form-group">
                        {{ form_pieza_conjunto.tipo_adquisicion }}
                    </div>
                    <div class="form-group">
                        {{ form_pieza_conjunto.tecnica_manufactura }}
                    </div>
                    <div class="form-group">
                        {{ form_pieza_conjunto.tipo_condicion_hallazgo }}
                    </div>
                    <div class="checkbox">
                        <label>
                           {{ form_pieza_conjunto.fragmentos }} Fragmento
                        </label>
                    </div>
                    <button type="button" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
  </div>



{% endblock %}
