{% extends "cachi/base.html" %}
{% load staticfiles %}

{% block content %}
    <form method="post" enctype="multipart/form-data" role="form">
        {% csrf_token %}

        <div class="panel panel-default">
            <div class="panel-heading">                

                <h4 class="inline">{{ pieza_conjunto.get_pieza_o_conjunto }}</h4>
                
                <div class="inline pull-right">
                    <button type="submit" name="guardar" class="btn btn-default btn-success">
                        <span class="glyphicon glyphicon-ok"></span> Guardar
                    </button>
                </div>
                <div class="clear-fix"></div>

                {% if pieza_conjunto %}
                    <small>
                        <span class="glyphicon glyphicon-asterisk"></span>
                        <a href="">{{ pieza_conjunto.nombre_descriptivo }}</a>
                    </small>
                {% endif %}
            </div>
            
            <div class="panel-body">                        
                <div class="col-lg-4">

                    <h4>Identificación de la pieza</h4>
                    
                    <div class="form-group {% if form_pieza_conjunto.numero_inventario.errors %}has-error{% endif %}">
                        <small>{{ form_pieza_conjunto.numero_inventario.label }}</small>
                        {{ form_pieza_conjunto.numero_inventario }}
                    </div>
                    <div class="form-group {% if form_pieza_conjunto.nombre_descriptivo.errors %}has-error{% endif %}">
                        <small>{{ form_pieza_conjunto.nombre_descriptivo.label }}</small>
                        {{ form_pieza_conjunto.nombre_descriptivo }}
                    </div>
                    <div class="form-group {% if form_pieza_conjunto.naturaleza.errors %}has-error{% endif %}">
                        <small>{{ form_pieza_conjunto.naturaleza.label }}</small>
                        {{ form_pieza_conjunto.naturaleza }}
                    </div>
                    <div class="form-group">
                        <small>{{ form_pieza_conjunto.tipo_adquisicion.label }}</small>
                        {{ form_pieza_conjunto.tipo_adquisicion }}
                    </div>

                    <hr>
                    
                    <h4>Descripción de la pieza</h4>

                    <div class="form-group">
                        <small>{{ form_pieza_conjunto.cantidad_fragmentos.label }}</small>
                        {{ form_pieza_conjunto.cantidad_fragmentos }}
                    </div>

                    <div class="form-group {% if form_pieza_conjunto.forma.errors %}has-error{% endif %}">
                        <small>{{ form_pieza_conjunto.forma.label }}</small>
                        {{ form_pieza_conjunto.forma }}
                    </div>
                    <div class="form-group">
                        <small>{{ form_pieza_conjunto.tecnica_manufactura.label }}</small>
                        {{ form_pieza_conjunto.tecnica_manufactura }}
                    </div>
                    
                </div>
                <div class="col-lg-4" >

                    <h4>Procedencia</h4>

                    <div class="form-group">
                        <div class="radio">
                            <input type="radio" class="option" name="optionsRadios" id="optionsRadios1" title="Puede seleccione un Sitio Arqueológico como procedencia de la pieza.">
                            <small  class="titulo">{{ form_procedencia.sitio_arqueologico.label }}</small>
                            {{ form_procedencia.sitio_arqueologico }}
                        </div>                               
                    </div>
                    <div class="form-group">
                        <div class="radio">
                            <input type="radio" class="option" name="optionsRadios" id="optionsRadios2" title="Puede seleccione una Ubicacón Geográfica específica como procedencia de la pieza que no sea un sitio arqueológico precisamente.">
                            <small  class="titulo">{{ form_procedencia.ubicacion_geografica.label }}</small>
                            {{ form_procedencia.ubicacion_geografica }}
                        </div>                                
                    </div>
                    <div class="form-group">
                        <div class="radio">
                            <input type="radio" class="option" name="optionsRadios" id="optionsRadios3" title="Puede especificar una Procedencia que no sea un sitio arqueológico y que tampoco sea una ubicación geográfica predefinida de la pieza. Ejemplo: Titicaca">
                            <small  class="titulo">{{ form_procedencia.otra.label }}</small>
                            {{ form_procedencia.otra }}
                        </div>                               
                    </div>
                    {% if form_procedencia.errors %}
                        {% for key, value in form_procedencia.errors.items %}
                             <p class="text-danger text-center">{{ value.as_text }}</p>
                        {% endfor %}                               
                    {% endif %}
                    <hr>
                    
                    <h4>Hallazgo</h4>

                    <div class="form-group">
                        <small>{{ form_pieza_conjunto.tipo_condicion_hallazgo.label }}</small>
                        {{ form_pieza_conjunto.tipo_condicion_hallazgo }}
                    </div>
                    <div class="form-group {% if form_pieza_conjunto.fecha_hallazgo.errors %}has-error{% endif %}">
                        <small>{{ form_pieza_conjunto.fecha_hallazgo.label }}</small>
                        {{ form_pieza_conjunto.fecha_hallazgo }}
                    </div>
                    <div class="form-group">
                        <small>{{ form_pieza_conjunto.persona_colectora.label }}</small>
                        {{ form_pieza_conjunto.persona_colectora }}
                    </div>

                    <hr>
                    
                    <h4>Ubicación actual</h4>                            

                    <div class="form-group">
                        <small>{{ form_pieza_conjunto.ubicacion.label }}</small>
                        {{ form_pieza_conjunto.ubicacion }}
                    </div>
                    
                </div>
                <div class="col-lg-4">

                    <h4>Fichas Técnicas</h4>                            

                    {% if pieza_conjunto_fragmentos %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Número Inventario</th>
                                    <th>Último Diagnóstico</th>
                                </tr>
                            </thead>
                            <tbody>
                             {% for pieza_conjunto_fragmento in pieza_conjunto_fragmentos %}                                
                                <tr>
                                    <td>
                                        <p class="text-justify"><a
                                            href="{% url 'edita_fragmento' pieza_conjunto.pk pieza_conjunto_fragmento.pk %}"
                                            >#{{ pieza_conjunto_fragmento.pk }}#</a></p>
                                        
                                    </td>
                                    <td>
                                        {% if pieza_conjunto_fragmento.numero_inventario %}
                                        <a href="{% url 'edita_fragmento' pieza_conjunto.pk pieza_conjunto_fragmento.pk %}">
                                            <p class="text-justify">{{ pieza_conjunto_fragmento.numero_inventario }}</p>
                                        </a>
                                        {% else %}
                                            <p class="text-justify">N/A</p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if pieza_conjunto_fragmento.obtiene_ficha_tecnica_ultimo_diagnostico.fecha %}
                                            <p class="text-justify">{{ pieza_conjunto_fragmento.obtiene_ficha_tecnica_ultimo_diagnostico.fecha|date:"d/m/Y" }}</p>
                                        {% else %}
                                            <p class="text-justify">No tiene diagnósticos.</p>
                                        {% endif %}
                                    </td>
                                </tr>                                                        
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}  
                        <li class="list-group-item">
                            <p class="text-center">
                                <em>No se encontraron Fichas Técnicas en esta Pieza.</em>
                            </p>
                        </li>
                    {% endif %}

                     {% if cantidad_fragmentos_invalido %}
                        <br>
                        <div class="alert alert-danger">
                            Anteción! La pieza o conjunto debe poseer
                            {{ pieza_conjunto.cantidad_fragmentos }} fragmento{{ pieza_conjunto.cantidad_fragmentos|pluralize }},
                            pero en el sistema hay {{ cantidad_instancias_fragmentos }}
                            fragmento{{ cantidad_instancias_fragmentos|pluralize }}.
                        </div>

                     {% endif %}

                    {% if pieza_conjunto %}
                        <a href="{% url 'nuevo_fragmento' pieza_conjunto.pk %}" class="btn btn-primary btn-block" role="button">
                            <span class="glyphicon glyphicon-plus"></span> Nueva Ficha Técnica
                        </a>
                    {% endif %}



                <hr>
                
                    <h4>Adjuntos</h4>

                     <div class="form-group {% if form_adjunto.errors %}has-error{% endif %}">
                        {% if form_adjunto.errors %}
                            <label class="control-label">{{ form_adjunto.adjuntos.errors }}</label>
                        {% endif %}
                        {{ form_adjunto.adjuntos }}
                        <div id="adjuntos">
                            {% if pieza_conjunto_adjuntos %}
                                <br>
                                <div class="row">
                                    {% for adjunto in pieza_conjunto_adjuntos %}
                                        <div class="col-xs-6 col-md-6 col-lg-4">
                                            <a href="#" class="thumbnail">
                                                <img src="{{ adjunto.adjunto.url }}">
                                            </a>
                                        </div>                                                                                    
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    


                </div> 
            </div>
        </div>
    </form>
    <script type="text/javascript">
        $(function() {
            /*
            Setea el ToolTip
            */
            var tooltips = $( "[title]" ).tooltip();

            /*
            Maneja los Options
            */ 
            $('.radio input[type=text], .radio select').attr('disabled', true);
            $.each($('.radio'), function () {
                var objeto = $(this).find(':not(.option, .titulo)');
                if(objeto.is('select') && objeto.get(0).selectedIndex > 0 ) {

                    $(this).find('input[type=radio]').attr('checked', true);
                    objeto.attr('disabled', false);

                }else if (objeto.is(' input[type=text]') && objeto.val() != '') {

                    $(this).find('input[type=radio]').attr('checked', true);
                    objeto.attr('disabled', false);

                }
            });
            $('.option').click(function () {
                $('.radio input[type=text], .radio select').attr('disabled', true);
                $(this).parent().find('input, select').attr('disabled', false);
            });


            /*
            Maneja los adjuntos.
            */
            var files = [];
            $("#id_adjuntos").change(function (){
                $("#adjuntos").html('');

                adjuntos = this.files;
                PreviewImage(adjuntos);
            });

            function PreviewImage(adjuntos) {
                $("#adjuntos").append('<br><ul id="id_ul" class="media-list"></ul>');

                $.each(adjuntos, function (index, adjunto){
                    var oFReader = new FileReader();
                    oFReader.readAsDataURL(adjunto);                                

                    oFReader.onload = function (oFREvent){  
                        var tipo = adjunto.type;
                        var tamaño = (adjunto.size / (1024*1024)).toFixed(2);

                        $("#id_ul").append('<li class="media"><a class="pull-left"><img id="uploadPreview_'+index+'"style="width:64px; height: 64px;" /></a><div class="media-body"><h4 class="media-heading">'+adjunto.name+'</h4><small>Tipo: '+tipo+'</small><br><small>Tamaño: '+tamaño+' MB</small></div><li>');
                        $("#uploadPreview_"+index).attr('src', oFREvent.target.result);
                    };
                });
            }
        });
    </script>  
{% endblock %}
