{% extends "cachi/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 main">
            <form method="post" enctype="multipart/form-data" role="form">
                {% csrf_token %}

                <div class="panel panel-default">
                    <div class="panel-heading">                
                        <h3 class="inline">Pieza o Conjunto</h3>
                        <div class="inline pull-right">
                            <button type="submit" name="guardar" class="btn btn-default btn-success">
                                <span class="glyphicon glyphicon-ok"></span> Guardar
                            </button>
                        </div>
                        <div class="clear-fix"></div>
                    </div>
                    <div class="panel-body col-lg-12">                        
                        <div class="col-lg-4">
                            <h5>Pieza o Cojunto</h5>
                            
                            <div class="form-group {% if form_pieza_conjunto.numero_inventario.errors %}has-error{% endif %}">
                                {{ form_pieza_conjunto.numero_inventario }}
                            </div>
                            <div class="form-group {% if form_pieza_conjunto.nombre_descriptivo.errors %}has-error{% endif %}">
                                {{ form_pieza_conjunto.nombre_descriptivo }}
                            </div>
                            <div class="form-group {% if form_pieza_conjunto.fecha_hallazgo.errors %}has-error{% endif %}">
                                {{ form_pieza_conjunto.fecha_hallazgo }}
                            </div>
                            <div class="form-group {% if form_pieza_conjunto.naturaleza.errors %}has-error{% endif %}">
                                {{ form_pieza_conjunto.naturaleza }}
                            </div>
                            <div class="form-group {% if form_pieza_conjunto.forma.errors %}has-error{% endif %}">
                                {{ form_pieza_conjunto.forma }}
                            </div>
                            <div class="form-group">
                                {{ form_pieza_conjunto.tipo_adquisicion }}
                            </div>
                            <div class="form-group">
                                {{ form_pieza_conjunto.tecnica_manufactura }}
                            </div>
                            <div class="form-group">
                                {{ form_pieza_conjunto.tipo_condicion_hallazgo }}
                            </div>                            
                            <div class="form-group">
                                {{ form_pieza_conjunto.persona_colectora }}
                            </div>
                            <div class="form-group">
                                {{ form_pieza_conjunto.ubicacion }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <h5>Procedencia</h5>

                            <div class="form-group">
                                {{ form_procedencia.sitio_arqueologico }}
                            </div>
                            <div class="form-group">
                                {{ form_procedencia.ubicacion_geografica }}
                            </div>
                            <div class="form-group">
                                {{ form_procedencia.otra }}
                            </div>

                            <br>

                            <h5>Adjuntos</h5>

                             <div class="form-group {% if form_adjunto.errors %}has-error{% endif %}">
                                {% if form_adjunto.errors %}
                                    <label class="control-label">{{ form_adjunto.adjuntos.errors }}</label>
                                {% endif %}
                                {{ form_adjunto.adjuntos }}
                                <div id="adjuntos">
                                    {% if pieza_conjunto_adjuntos %}
                                        <br>
                                        {% for adjunto in pieza_conjunto_adjuntos %}
                                            <ul class="media-list">                              
                                                <li class="media">                                                   
                                                    <a class="pull-left">
                                                        <img style="width:64px; height: 64px;" src="{{ adjunto.adjunto.url }}" />
                                                    </a> 
                                                    <div class="media-body">
                                                        <h4 class="media-heading">{{ adjunto.nombre_archivo }}</h4>
                                                        <small>Tipo: {{ adjunto.content_type }}</small><br>
                                                        <small>Tamaño: {{ adjunto.size }}</small>
                                                    </div>
                                                <li>
                                            </ul>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <h5>Fichas Técnicas</h5>                            
                            <ul class="list-group">
                                {% if pieza_conjunto_fragmentos %}
                                    {% for pieza_conjunto_fragmento in pieza_conjunto_fragmentos %}
                                        <li class="list-group-item">
                                            <a href="{% url 'edita_ficha_tecnica' pieza_conjunto.pk pieza_conjunto_fragmento.pk %}">
                                                {{ pieza_conjunto_fragmento.numero_inventario }}
                                            </a> 
                                        </li>
                                    {% endfor %}
                                {% else %}    
                                    <li class="list-group-item">
                                        <p class="text-center">
                                            <em>No se encontraron Fichas Técnicas en esta Pieza.</em>
                                        </p>
                                    </li>
                                {% endif %}
                            </ul>
                            
                            {% if pieza_conjunto %}
                                <a href="{% url 'nueva_ficha_tecnica' pieza_conjunto.pk %}" class="btn btn-primary btn-block" role="button">
                                    <span class="glyphicon glyphicon-plus"></span> Nueva Ficha Técnica
                                </a>
                            {% endif %}
                        </div> 
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $(function() {             
            /*
            Maneja los adjuntos.
            */
            var files = [];
            $("#id_adjuntos").change(function (){
                $("#adjuntos").html('');

                adjuntos = this.files;
                PreviewImage(adjuntos);
            });

            function PreviewImage(adjuntos) {
                $("#adjuntos").append('<br><ul id="id_ul" class="media-list"></ul>');

                $.each(adjuntos, function (index, adjunto){
                    var oFReader = new FileReader();
                    oFReader.readAsDataURL(adjunto);                                

                    oFReader.onload = function (oFREvent){  
                        var tipo = adjunto.type;
                        var tamaño = (adjunto.size / (1024*1024)).toFixed(2);

                        $("#id_ul").append('<li class="media"><a class="pull-left"><img id="uploadPreview_'+index+'"style="width:64px; height: 64px;" /></a><div class="media-body"><h4 class="media-heading">'+adjunto.name+'</h4><small>Tipo: '+tipo+'</small><br><small>Tamaño: '+tamaño+' MB</small></div><li>');
                        $("#uploadPreview_"+index).attr('src', oFREvent.target.result);
                    };
                });
            }
        });
    </script>  
{% endblock %}
